@import url("https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("./reset.css");

* {
  box-sizing: border-box;
}

:root {
  --main-background: #ffffff;
  --main-font: #000000;
  --sub-font: #6b7988;
  --third-font: #a7afb8;
  --post-body-font: #4b535b;
  --main-line: #eff0f2;
  --selected-font: #c82b92;
  --selected-background: #ffe9f9;
  --non-selected-background: #f2f4f6;
  --default: #d9d9d9;
}

body {
  width: 100vw;
  background-color: var(--main-background);
}
