.tab-wrapper {
  display: flex;
  gap: 2.8rem;
  border-bottom: 1px solid var(--main-line);
}

.menu {
  cursor: pointer;
  padding: 2.2rem 1.2rem 1.9rem;
  font-size: 1.7rem;
  text-align: center;
}

.selected {
  border-bottom: 0.2rem solid var(--main-font);
  font-weight: 500;
}

.non-selected {
  color: var(--sub-font);
  font-weight: 400;
}
