.popular-post-wrapper {
  width: 100%;
  padding: 2.8rem 3rem;
  word-break: keep-all;
}

.heading-text {
  display: block;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.popular-post-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.popular-post-element {
  cursor: pointer;
}

.popular-post-element:hover {
  color: var(--selected-font);
}

.title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.tag {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--sub-font);
}
